#banner {
  background-image: url(../Images/pattern.jpeg);
  color: khaki;
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.brushes,
.frames,
.paint {
color: white;
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
margin-top: 75px;
}

h2.brushes {
  background-color: mediumspringgreen;
}

h2.frames {
  background-color: lightcoral;
}

h2.paint {
  background-color: skyblue;
}

span {
  color: blue;
  font-family: Helvetica;
  font-weight: bold;
}

body {
  color: gray;
  font-family: Helvetica;
}

img {
  height: 250px;
  width: 250px;
  margin-top: 15px;
}

p {
  margin-top: 15px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navigation{
	background-color: white;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul {
	display: inline-flex;
	list-style-type: none;
	justify-content: center;
	width: 100%;
}

.navigation ul li {
	width: 160px;
	margin: 15px;
	padding: 15px;
}

.navigation ul li a {
	color: grey;
	text-align: center;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: #fff;
	color: grey;
	border-radius: 3px;
}

.navigation .fa {
  margin: 0 8px 0 4px;
  color: grey;
}

.sub-menu {
	display: none;
}

.navigation ul li:hover .sub-menu {
	display: block;
	position: absolute;
	margin-left: -15px;
}

.navigation ul li:hover .sub-menu ul {
	display: block;
	margin: 10px;
	background-color: white;
}

.navigation ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted grey;
	border-radius: 0;
	text-align: left;
}

.navigation ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}

.body {
  margin-top: 79px;
}

