/* Universal Styles */

body {
  margin: 0px;
  background-color: WhiteSmoke;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}

.secondary-background {
  background-color: Snow;
}

.tagline {
  font-family: 'Quicksand', sans-serif;
  color: LightSlateGrey;
  line-height: 125px;
}

/* Header */

h1 {
  margin: 0;
  background-color: SkyBlue;
  line-height: 100px;
  color: Khaki;
}

h2 {
  margin: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navigation{
	background-color: skyblue;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul {
	display: inline-flex;
	list-style-type: none;
	justify-content: center;
	width: 100%;
}

.navigation ul li {
	width: 160px;
	margin: 15px;
  padding: 15px;
  display: flex;
}

.navigation ul li a {
	color: khaki;
	text-align: center;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: skyblue;
	color: khaki;
	border-radius: 3px;
}

.navigation .fa {
  margin: 0 8px 0 4px;
  color: khaki;
}

.sub-menu {
	display: none;
}

.navigation ul li:hover .sub-menu {
	display: block;
	position: absolute;
  margin-left: -15px;
  top: 90px;
}

.navigation ul li:hover .sub-menu ul {
	display: block;
	margin: 10px;
	background-color: skyblue;
}

.navigation ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted khaki;
	border-radius: 0;
	text-align: left;
}

.navigation ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}

.body {
  margin-top: 150px;
}
/* App Container */

.container {
  border: 2px solid Snow;
  display: flex;
}

/* To Do Section */

.week {
  display: inline-flex;
  flex-grow: 3;
  flex-direction: column;
}

.row {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.square {
  width: 125px;
  height: 125px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day.square {
  background-color: SkyBlue;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task.square {
  background-color: Khaki;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

/* Reminders */

.reminders {
  background-color: Khaki;
  display: inline-flex;
  flex-grow: 2;
}

.reminders h3 {
  width: 100%;
  margin: 10px;
  color: black;
  line-height: 90px;
  font-size: 24px;
  display: inline-flex;
  flex-grow: 2;
}

/* Footer */

footer {
  font-size: 24px;
}