.header {
  background-color: CornflowerBlue;
  text-align: center;
}

.about-me {
  font-size: 20px;
  color: Azure;
}

.title {
  font-weight: bold;
}

h1 {
  color: Azure;
}

h2, p, li{
	margin: 10px 10px;
}
body {
  background-image: 
  url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
  font-family: Georgia;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navigation{
	background-color: cornflowerblue;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul {
	display: inline-flex;
	list-style-type: none;
	justify-content: center;
	width: 100%;
}

.navigation ul li {
	width: 160px;
	margin: 15px;
	padding: 15px;
}

.navigation ul li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: #fff;
	color: #242f44;
	border-radius: 3px;
}

.navigation .fa {
  margin: 0 8px 0 1px;
  color: white;
}

.sub-menu {
	display: none;
}

.navigation ul li:hover .sub-menu {
	display: block;
	position: absolute;
	margin-left: -15px;
}

.navigation ul li:hover .sub-menu ul {
	display: block;
	margin: 10px;
	background-color: cornflowerblue;
}

.navigation ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	border-radius: 0;
	text-align: left;
}

.navigation ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}

.body {
  margin-top: 79px;
}

