body {
  background-color: #242f44;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.navigation{
	background-color: #242f44;
	text-align:center;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-flex;
	width: 100%;
}

.navigatuion ul li {
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.navigation ul li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: white;
	color: #242f44;
	border-radius: 3px;
}


.navigation nav {
	position: fixed;
	top: 0;
	}

.navigation .fa {
	margin-right: 8px;
}

.sub-menu {
	display: none;
}

.navigation ul li:hover .sub-menu {
	display: block;
	position: absolute;
	margin-left: -15px;
}

.navigation ul li:hover .sub-menu ul {
	display: block;
	margin: 10px;
}

.navigation ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.navigation ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}
