* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: rgb(255, 199, 64);
  font-family: "Open Sans", Arial;
}

.navigation{
	background-color: rgb(255, 199, 64);
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul {
	display: inline-flex;
	list-style-type: none;
	justify-content: center;
	width: 100%;
}

.navigation ul li {
	width: 160px;
	margin: 15px;
	padding: 15px;
}

.navigation ul li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: rgb(15, 109, 250);
	color: white;
	border-radius: 3px;
}

.navigation .fa {
  margin: 0 8px 0 4px;
  color: white;
}

.sub-menu {
	display: none;
}

.navigation ul li:hover .sub-menu {
	display: block;
	position: absolute;
	margin-left: -15px;
}

.navigation ul li:hover .sub-menu ul {
	display: block;
	margin: 10px;
	background-color: rgb(255, 199, 64);
}

.navigation ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	border-radius: 0;
	text-align: left;
}

.navigation ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}

.body {
  margin-top: 100px;
}

form {
  line-height: 27px;
}

h2 {
  font-size: 20px;
}

input[type="text"], input[type="number"] {
  min-height: 15px;
  border-radius: 5px;
  border:1px solid #cccccc;
}

input[type="radio"] {
  margin-left: 12px;
}

#main {
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  height: 80vh;
  border-radius: 15px;
  margin: 2% 10%;
  overflow: auto;
}

#story {
  padding: 0 3%;
}

#top {
  background-color: rgb(255, 255, 255);
  margin: 2% 10%;
  border-radius: 15px;
}

#top img {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.italics {
  font-style: italic;
}

.word {
  font-weight: bold;
  text-decoration: underline;
}