.banner {
  background-color: crimson;
  color: white;
  margin-top: 75px;
  padding: 100px 0;
  text-align:center;
}

#gritty {
height: 100px;
width: 100px;
filter: drop-shadow(1px 1px black);
}

#tiger-king {
height: 200px;
width: 200px;
filter: drop-shadow(1px 1px black);
}

.main {
  margin-bottom: 75px;
  padding-bottom: 100px;
  text-align: center;
}

.bold {
  font-weight: 900;
}

.avatar {
  background-image: url("../Image/avatar.jpg");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  justify-content: left;
}

body {
  background-color: crimson;
  color: white;
  font-family: Arial;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navigation{
	background-color: crimson;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul {
	display: inline-flex;
	list-style-type: none;
	justify-content: center;
	width: 100%;
}

.navigation ul li {
	width: 160px;
	margin: 15px;
	padding: 15px;
}

.navigation ul li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: #fff;
	color: crimson;
	border-radius: 3px;
}

.navigation .fa {
  margin: 0 8px 0 4px;
  color: white;
}

.sub-menu {
	display: none;
}

.navigation ul li:hover .sub-menu {
	display: block;
	position: absolute;
	margin-left: -15px;
}

.navigation ul li:hover .sub-menu ul {
	display: block;
	margin: 10px;
	background-color: crimson;
}

.navigation ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	border-radius: 0;
	text-align: left;
}

.navigation ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}

.body {
  margin-top: 79px;
}

