* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #242f44;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.navigation{
	background-color: #242f44;
	text-align: center;
}

.navigation ul {
	display: inline-flex;
	list-style-type: none;
	justify-content: center;
}

.navigation ul li {
	width: 160px;
	margin: 15px;
	padding: 15px;
}

.navigation ul li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: white;
	color: #242f44;
	border-radius: 3px;
}


.navigation nav {
	position: fixed;
	top: 0;
	}

.navigation .fa {
	margin-right: 8px;
}

.sub-menu {
	display: none;
}

.navigation ul li:hover .sub-menu {
	display: block;
	position: absolute;
	margin-left: -15px;
}

.navigation ul li:hover .sub-menu ul {
	display: block;
	margin: 10px;
}

.navigation ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.navigation ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}

.body {
	margin-top: 100px;
}

.body a {
	color: #6e8191;
}

.top ul {
	display: inline-flex;
	list-style-type: none;
}

.top ul li {
	width: 120px;
	margin: 15px;
	padding; 15px;
}

.profile, .skills, .experience, .education{
	border: 1px solid white;
	border-radius: 6px;
	margin: 15px;
	padding: 15px;
}

.experience li {
	list-style-type: none;
	margin-left: 24px;
}

.experience h4, .experience p {
	margin-top: 15px;
}

.education li {
	list-style-type: none;
}

.education h4, .education p {
	margin-top: 15px;
}

#underline {
	border-bottom: 1px white solid;
}